<h1>Добавление нового препарата в базу</h1>

<form name="adminForm" method="POST" , action="/admin">

  <input name="name" class="form-control form-control-lg" placeholder="Название препарата" /> </br>
  <input name="info" class="form-control form-control-lg" placeholder="Информация" /></br>
  <input name="categoryId" class="form-control form-control-lg" placeholder="Категория" /></br>
  <input name="count" class="form-control form-control-lg" placeholder="Количество" /></br>
  <input name="price" class="form-control form-control-lg" placeholder="Цена" /> </br>
  <input name="havePromo" class="form-control form-control-lg" placeholder="Промо" /></br>
  <input name="discountPrice" class="form-control form-control-lg" placeholder="Цена со скидкой" /></br>
  </br>
  <button class="btn btn-success" type="submit">Отправить</button>
  </br></br>
  <a href="/" class="btn btn-primary">На главную</a>

</form>
