<div class="authdev">
<h2>Введите ваши данные</h2>
<form class="authdev2" name="payOrder" method="POST" action="/order/status">
  <input class="inp" name="adress" type="text" placeholder="адрес доставки" required>
  <input class="inp" name="tel" type="text" placeholder="номер телефона" required>
  <p>Оплата при получении</p>
  <p>Сумма к оплате: {{total}} <span class="rouble">₽</span> </p>
  <button class="btn3" type="submit">Заказать</button>
</form>
</div>